* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 6px;
    text-align: left;
    background: #13293d ;
    color: #fff;
  }
  
  .profile{
    vertical-align: middle;
    width:100px;  
    height: 100px;
    border-radius: 50%;
  }
  
ul li {list-style-type:none; 
    margin: 10px;
    padding: 0;
    display: inline;
    float: right; 
    margin-top: 50px;
    overflow: hidden;
  }  







  main {
    display: flex;
  }
  
  aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
    text-align: right;
  } 
  
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  /* Image Placeholders */
.large-img { background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 400px;
  border: 5px solid black;}







  .sample-img {
    background-color: #fff;
    width: 50%;
    padding: 20px;
    height: 200px;
    border: 5px solid black;
    margin: 20px;
    flex: 50%;
    padding: 0 4px;
    margin-top: 8px;
    vertical-align: middle;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {flex: 50%;
  padding: 0 4px;}

  .column img {margin-top: 8px;
  vertical-align: middle;}
  
 
  
  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  